# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
dist

# runtime
run
run-data
logs
.tmp_err_*
.tmp_mdk
.tmp_ref_*
compile-*.log
.tmp_*
.tmp-mdk
.tools
*.log
閿欒鎶ュ憡-*.zip

# other
eclipse
refs
mdk
forge-1.16.5-36.2.42-mdk.zip

# Files from Forge MDK
forge*changelog.txt

.tmp-mdk
错误报告-*.zip
